body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

#mazeCanvas {
  border: 3px solid black;
  margin-top: 20px;
}

#controls button {
  font-size: 20px;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 8px;
}

#startBtn, #resetBtn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
}
